#Menu {
    background-image: url("../img/InsideMenu.png");
    height: auto;
    width: auto;
}

    #Menu > div {
        position: relative;
        max-width: 30%;
    }
        #Menu > div > div:last-child {
            position: absolute;
            padding: 0 0 25% 35%;
            left: 0;
            bottom:0;
            width:auto;
        }

        #Menu > div > div > div > a {
            text-align: center;
            color: black;
            text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
            text-decoration: none;
        }
        #Menu > div > div > div> a:hover {
            text-align: center;
            color: #f09f01;
            text-shadow: 2px 2px 0px rgba(255, 199, 13,0.3);
            text-decoration: none;
        }

        #Menu > div > div > div > a > h2 {
            font-size: 4vmin;
        }

/*-------------------------------------------*/
#GameMenu {
    display: none;
    position: center;
    padding-top: 19%;
    height: auto;
    width: auto;
}
#MainMenu {
    padding-bottom:10%;
}
#Setting {
    display: none;
    position: center;
    padding-top: 19%;
    height: auto;
    width: auto;
}



   

